In [ ]:
print("Inteligência Artificial e Big Data")

Inteligencia Artificial e Big Data

In [ ]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\dsadm\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

In [4]:
Dicionario = {
    'A': [1,2,3],
    'B':[-3,-2,-1],
    'C':[0,10,20]
}

Label = ['1° Linha', '2° Linha', '3° Linha']

DataFrame_01 = pd.DataFrame(Dicionario, index=Label)
print(DataFrame_01)

          A  B   C
1° Linha  1 -3   0
2° Linha  2 -2  10
3° Linha  3 -1  20

In [5]:
DataFrame_01[['A', 'B']]

          A  B
1° Linha  1 -3
2° Linha  2 -2
3° Linha  3 -1

In [6]:
DataFrame_01[['A', 'C']]

          A   C
1° Linha  1   0
2° Linha  2  10
3° Linha  3  20

In [7]:
DataFrame_01["Nova Coluna"] = DataFrame_01['A']*DataFrame_01['B']

In [8]:
DataFrame_01

          A  B   C  Nova Coluna
1° Linha  1 -3   0           -3
2° Linha  2 -2  10           -4
3° Linha  3 -1  20           -3

In [9]:
a = 5
print(a)
print(DataFrame_01)

5
          A  B   C  Nova Coluna
1° Linha  1 -3   0           -3
2° Linha  2 -2  10           -4
3° Linha  3 -1  20           -3

In [12]:
DataFrame_01.drop('Nova Coluna', axis=1)

          A  B   C
1° Linha  1 -3   0
2° Linha  2 -2  10
3° Linha  3 -1  20